.UserStory {
  border-radius: 3px;
  padding: 0;
  margin: 10px 0;
  background-color: #fff;
}

  .UserStory__Header {
    text-align: right;
    margin: 5px;
  }

  .UserStory__Header > h1 {
    font-size: 1.0rem;
    font-weight: 400;
    margin-top: 10px;
    padding: 20px 10px;
    color: #868686;
  }

  .UserStory__Body {
      padding: 3px 10px 10px 10px;
      font-size: 0.6rem;
      line-height: 1.2rem;
      font-weight: 400;
      margin-top: 10px;
  }

  .UserStory__Body__Title {
    font-size: 1.4rem;
    margin-top: 0;
    line-height: 2rem;
    color: #707070;
  }

  .UserStory__Footer {
    text-align: right;
    padding: 0;
    font-size: 0.5rem;
  }

.Stat1, .Stat2, .Stat3 {
  width: 100%;
  height: 30px;
  text-align: right;
  display: inline-block;
  line-height: 2.0rem;
  color: #aaa;
  font-size: 1.3rem;
  padding: 0 15px;
}

.glyphicon-trash:hover {
  background: #e97979;
}

.Color1 {
}
.Color2 {
  display: none;
}
.Color3 {
  display: none;
}
